@use "variables" as v;
@use "mixins" as m;

#about {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    h2 {
        text-align: center;
    }

    .profile {

        &__rakib {
            @include m.profile(url("../assets/profiles/Rakib_Square.png"));
        }

        &__alexandra {
            @include m.profile(url("../assets/profiles/Alexandra_Square.png"));
        }   

        &__lasse {
            @include m.profile;
        }  

        &__sebastian {
            @include m.profile(url("../assets/profiles/Sebastian_Square.png"));
        }

        @include m.desktop {
            flex-direction: row;
            color: green;
        }

    }  

    .arrowdown__black {
        @include m.arrowdown (black);
    }

}
