@use "variables" as v;
@use "mixins" as m;

#about {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

    @include m.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
    justify-content: space-a;
    }

    h2 {
        text-align: center;
        width: 100%;
    }

    .profile {

        &__rakib {
            @include m.profile(url("../assets/profiles/Rakib_Square.png"));
        }

        &__alexandra {
            @include m.profile(url("../assets/profiles/Alexandra_Square.png"));
        }   

        &__lasse {
            @include m.profile;
        }  

        &__sebastian {
            @include m.profile(url("../assets/profiles/Sebastian_Square.png"));
        }
    }  

    .arrowdown__black {
        @include m.arrowdown (black);
        margin-top: 30px;
        margin-bottom: 30px;

        @include m.desktop {
            margin: 0 auto;
        }
    }

}
