@use "variables" as v;

.contact {
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;    ;
    justify-content: center;
    padding: 100px;
    gap: 20px;
    font-size: xx-large;

    &__socialmedia {

        &__title{
            
            &__link{
                color: white;
                padding-right: 20px;
            }
        }
    }
}