@use "variables" as v;
@use "mixins" as m;

body {
    display: flex;
    margin: 0 auto;

    /* @include m.desktop {
        skriv styling här 
    } */

    header {
        position: absolute;  
        top: 20px;
        right: 50px;  
    
        /* @include m.desktop {
            skriv styling här
        } */

        .menu {
            display: flex;
            flex-direction: column;

            &__line {
                @include m.span;
            }
        }

        nav {
            ul {
                list-style: none;
                a {
                    color: white;
                }
            }
        }
    }

    main {
            .image__container {
                background-image: url("../assets/negative-space-black-forest-dawn.jpg");
                background-position: center;
                background-size: cover;
                height: 100vh;
                color: white;
                display: flex;
                text-align: center;
                flex-direction: column;    
                justify-content: center;

                @include m.desktop {
                    width: 100vw;
                }

                h1 {
                    font-size: xx-large;

                    @include m.desktop {
                        font-size: x-large;
                    }
                }

                p {
                    font-size: xx-large;
                    padding-right: 40px;
                    padding-left: 40px;

                    @include m.desktop {
                        font-size: x-large;
                    }

                }

                .arrowdown {
                    @include m.arrowdown;
                }
            }
        }
}