@use "mixins" as m;

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    margin: 0 auto;

    header {
        position: absolute;
        width: 100%;
    
        nav {
          .menu {
            position: relative;
            background-color: rgba(255, 255, 255, 0.15);
            width: 100%;
            height: 60px;
    
            &__hamburger {
              position: absolute;
              top: 20px;
              right: 30px;
              pointer-events: none;

                @include m.desktop {
                display: none;
                }
            }
    
            &__checkbox {
              position: absolute;
              right: 24px;
              top: 15px;
    
              display: block;
              width: 40px;
              height: 32px;
    
              cursor: pointer;
    
              opacity: 0;
    
              &:checked ~ ul {
                display: flex;
              }
    
              &:checked ~ .menu__hamburger span {
                transform: rotate(-45deg);
              }
    
              &:checked ~ .menu__hamburger span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }
    
              &:checked ~ .menu__hamburger span:nth-last-child(2) {
                transform: rotate(45deg) translate(1px, -3px);
              }

                @include m.desktop {
                display: none;
                }
            
            }
            &__hamburger__line {
                @include m.span; 
            }
    
            &__list {
              padding: 0;
              padding-bottom: 10px;
              margin: 0;
              margin-top: 60px;
              background-color: rgba(255, 255, 255, 0.15);
              top: 0;
              position: absolute;
              width: 100%;
              z-index: 1;
    
              display: none;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 10px;
              list-style: none;
    
              &__link {
                color: #fff;
                font-size: 20px;
                text-decoration: none;
              }

              li:nth-child(3){
                @include m.desktop {
                        margin-right: 30px;
                }
              }

              @include m.desktop {
                display: flex;
                flex-direction: row;
                margin-top: 0px;
                height: 60px;
                background-color: transparent;
                justify-content: flex-end;
                gap: 35px;
              }
            }
          }
        }
      }           

    main {
            .image__container {
                background-image: url("../assets/negative-space-black-forest-dawn.jpg");
                background-position: center;
                background-size: cover;
                height: 100vh;
                color: white;
                display: flex;
                text-align: center;
                flex-direction: column;    
                justify-content: center;

                @include m.desktop {
                    width: 100vw;
                }

                h1 {
                    font-size: xx-large;
                    margin-top: 200px;

                    @include m.desktop {
                        font-size: x-large;
                    }
                }

                p {
                    font-size: xx-large;
                    padding-right: 40px;
                    padding-left: 40px;
                
                    @include m.desktop {
                        font-size: x-large;
                    }

                }
            }

            .arrowdown {
                @include m.arrowdown;
                margin-top: 250px;

                @include m.desktop {
                    margin-top: 350px;
                }
                
           }
    }
}