@use "variables" as v;
@use "mixins" as m;

body {
    display: flex;
    margin: 0 auto;

    /* @include m.desktop {
        skriv styling här 
    } */

    header {
        position: absolute;   
    
        /* @include m.desktop {
            skriv styling här
        background-color: white;
        opacity: 0.1;
        } */

        .menu {
            position: relative;
            height: 30px;
            margin-right: 5px;

            @include m.desktop {
                margin-right: 20px;
            }

            &__line__1 {  
                top: 0px;
                @include m.span;
            }

            &__line__2 { 
                top: 50%;
                transform: translateY(-50%); 
                @include m.span;
            }

            &__line__3 { 
                bottom: 0; 
                @include m.span;
            }
        }

        .menu:hover {
            .menu__line__1 {
                top: 13px;
                transform: rotate(135deg); 
            }
            .menu__line__2 {
                opacity: 0;
            }    
            .menu__line__3 {
                bottom: 13px;
                transform: rotate(-135deg); 
            }
        }
        
        nav {
            ul {

                @include m.desktop {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    justify-content: right;
                }

                list-style: none;
                width: 100vw;
                a {
                    color: white;
                    text-decoration: none;
                    // opacity: 0;
                }
            }
        }

        nav:hover {
            ul {
                a {
                    opacity: 1;
                }
            }
        }
    }

    main {
            .image__container {
                background-image: url("../assets/negative-space-black-forest-dawn.jpg");
                background-position: center;
                background-size: cover;
                height: 100vh;
                color: white;
                display: flex;
                text-align: center;
                flex-direction: column;    
                justify-content: center;

                @include m.desktop {
                    width: 100vw;
                }

                h1 {
                    font-size: xx-large;
                    margin-top: 200px;

                    @include m.desktop {
                        font-size: x-large;
                    }
                }

                p {
                    font-size: xx-large;
                    padding-right: 40px;
                    padding-left: 40px;
                
                    @include m.desktop {
                        font-size: x-large;
                    }

                }
            }
            .arrowdown {
                @include m.arrowdown;
                margin-top: 100px;

                @include m.desktop {
                    margin-top: 250px;
                }
                
            }
        }
}