@use "variables" as v;

@mixin desktop {
    @media screen and (min-width:v.$desktop_breakpoint) {
        @content;
    }     
}

//Förstasidan//

@mixin span {
    position: absolute;
    right: 50px;
    background-color: white;
    width: 40px;
    height: 4px;

    z-index: 1;
}

//Ikoner//

@mixin arrowdown ($color: white) {
    color: $color;
    font-size: xx-large;

    @include desktop {
        width: 100%;
        text-align: center;
    }
}

//Profilerna//

@mixin profile($background-image: url("../assets/profiles/NoPerson_Square.png")){
    .profile {

        &__name {
            color: black;
            text-align: center;
        }

        &__imagecontainer {
            display: flex;
            justify-content: center;

            &__image {
                background-image: $background-image;
                background-position: center; 
                background-size: contain;
                height: 250px;
                width: 250px;
                border-radius: 50%;
                box-shadow: 0 0 1rem 1rem rgba(211, 211, 211, 0.667);
            }
        }

        &__about {
            background-color: lightgrey;
            width: 230px;
            color: black;
            text-align: left;
            padding: 40px;
            border-radius: 5px;

            @include desktop {
                width: 400px;
                height: 50px;
            }

            i {
                color: black;
                font-size: xx-large;
            }
        }
    }
}